//VARIABLE
$primary-color: #202020;
$primary-yellow: #ff9916;
$primary-red: #e84444;
$primary-color-hover: rgba(131, 131, 131, 0.71);
$solid-black:#000000;
$secondary-color:#838383;
$gold-text-color:#a79359;

//background_color
$primary-background-color:#fff;
$blue: rgb(78, 121, 188);
$dark-blue:#192f54;
$secondary-black:#222222;
//background_color



$footer-background-color:#f9f9f9;
$footer-bottom-background-color:#f9f9f9;
$primary-btn-hvr-color:#fffff;
$primary-btn-hvr-bcg-color:#202020;
$red:#ee312f;

//font_family
$light:400;
$extra-light:300;
$regular:500;
$semiBold:600;
$bold:700;
//font_family

$primary-font-size:16px;


$box-shadow-color: rgba(32, 32, 32, 0.4);
$primary-box-shadow:0 4px 10px 0px rgba(0, 0, 0, 0.04);
$white-color:#ffffff;
$white-70-percent: rgba(255, 255, 255, 0.71);
$border:1px solid #dedede;

//transition
$primary-transition:0.3s all linear;
$secondary-transition:0.5s all linear;
$transition-background:background 0.3s linear;
$height-transition:height 0.3s linear;

//border
$primary-border-color:#c8c8c8;
$primary-border:1px solid #c8c8c8;
$primary-border-bottom:1px solid #c8c8c8;
$primary-border-top:1px solid #c8c8c8;

$secondary-border:1px solid #e0dfdf;
$secondary-border-color:#e0dfdf;
$secondary-border-bottom:1px solid #e0dfdf;
$secondary-border-top:1px solid #e0dfdf;
//border

$large-padding:85px;
$medium-pading:45px;