/** open sans **/
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
/** Montserrat **/
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700");
/*Normallizing*/
* {
  padding: 0;
  margin: 0;
  /*transition:all 0.3s linear;*/ }

html, body {
  font-family: 'Montserrat',sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: #202020;
  box-sizing: border-box;
  background-color: transparent; }

p {
  font-size: 16px;
  line-height: 25px;
  color: #202020; }

a {
  color: #202020;
  text-decoration: none;
  cursor: pointer; }

a:hover {
  text-decoration: none; }

p, h1, h2, h3, h4, h5, h6, ol, ul, div {
  margin: 0;
  padding: 0;
  color: #202020; }

/*Normallizing*/
/*common classes*/
.padding-top-bottom-large {
  padding-top: 85px;
  padding-bottom: 85px; }

.padding-top-large {
  padding-top: 85px; }

.padding-bottom-large {
  padding-bottom: 85px; }

.padding-top-bottom-medium {
  padding-top: 45px;
  padding-bottom: 45px; }

.padding-top-medium {
  padding-top: 45px; }

.padding-bottom-medium {
  padding-bottom: 45px; }

.padding-top-40 {
  padding-top: 40px; }

.padding-bottom-40 {
  padding-bottom: 40px; }

.padding-top-30 {
  padding-top: 30px; }

.padding-top-35 {
  padding-top: 35px; }

.padding-bottom-35 {
  padding-bottom: 35px; }

.padding-bottom-30 {
  padding-bottom: 30px; }

.padding-top-25 {
  padding-top: 25px; }

.padding-bottom-25 {
  padding-bottom: 25px; }

.padding-top-20 {
  padding-top: 20px; }

.padding-bottom-20 {
  padding-bottom: 20px; }

.padding-top-15 {
  padding-top: 15px; }

.padding-bottom-15 {
  padding-bottom: 15px; }

.padding-top-10 {
  padding-top: 10px; }

.padding-bottom-10 {
  padding-bottom: 10px; }

.padding-right-left-15 {
  padding-right: 15px;
  padding-left: 15px; }

.padding-right-left-20 {
  padding-right: 15px;
  padding-left: 15px; }

.padding-right-left-25 {
  padding-right: 25px;
  padding-left: 25px; }

.padding-right-left-30 {
  padding-right: 30px;
  padding-left: 30px; }

.padding-15 {
  padding: 15px; }

.padding-20 {
  padding: 20px; }

.padding-25 {
  padding: 25px; }

.padding-30 {
  padding: 30px; }

.margin-bottom-medium {
  margin-bottom: 45px; }

.margin-top-50 {
  margin-top: 50px; }

.margin-bottom-50 {
  margin-bottom: 50px; }

.margin-top-40 {
  margin-top: 40px; }

.margin-bottom-40 {
  margin-bottom: 40px; }

.margin-top-35 {
  margin-top: 35px; }

.margin-bottom-35 {
  margin-bottom: 35px !important; }

.margin-top-30 {
  margin-top: 30px; }

.margin-bottom-30 {
  margin-bottom: 30px; }

.margin-top-25 {
  margin-top: 25px; }

.margin-right-10 {
  margin-right: 10px; }

.margin-bottom-25 {
  margin-bottom: 25px; }

.margin-top-20 {
  margin-top: 20px; }

.margin-bottom-20 {
  margin-bottom: 20px; }

.margin-top-15 {
  margin-top: 15px; }

.margin-bottom-15 {
  margin-bottom: 15px; }

.height-100-percent {
  height: 100%; }

.width-100-percent {
  width: 100%; }

.height-50-percent {
  height: 50%; }

.position-relative {
  position: relative; }

.background-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

.blue-background {
  background-color: #4e79bc; }
  .blue-background a, .blue-background p, .blue-background h2, .blue-background h3, .blue-background h4, .blue-background span {
    color: #ffffff; }

.justify-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.flex-center-vh {
  display: flex;
  justify-content: center;
  align-items: center; }

.flex-center-v {
  display: flex;
  align-items: center; }

.font-24-regular {
  font-weight: 500;
  font-size: 24px;
  line-height: 24px; }

.font-18-light {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px; }

.font-20-light {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  margin-bottom: 10px; }

.color-blue {
  color: #4e79bc !important; }

.color-white {
  color: #ffffff !important; }

.color-202020 {
  color: #838383 !important; }

.slide-title {
  font-weight: 500;
  font-size: 44px;
  line-height: 44px;
  margin-bottom: 20px;
  color: #0e0e0e; }
  .slide-title span {
    font-weight: 700;
    color: #4e79bc; }

.section-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  color: #ffffff;
  position: relative;
  margin-bottom: 20px; }

.column-title {
  font-weight: 500;
  font-size: 22px;
  color: #838383;
  line-height: 25px;
  margin-bottom: 20px; }

.title-div .section-title {
  margin: 0; }

.semi-title {
  font-family: 'proxima_nova_ltsemibold',sans-serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 36px; }

.section-sub-title {
  font-family: 'Montserrat',sans-serif;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  color: #838383;
  margin-bottom: 25px;
  /*text-transform: uppercase;*/ }

.para-title {
  font-family: 'proxima_nova_ltsemibold',sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 36px;
  margin-bottom: 20px;
  color: #202020; }

.invalidlogin {
  position: absolute;
  font-size: 14px;
  line-height: 16px;
  bottom: -30px;
  left: 0;
  width: 100%;
  color: #ff4136; }

.uppercase {
  text-transform: uppercase; }

.page-title {
  margin: 0 !important;
  font-size: 32px;
  font-weight: 500; }

.display-none {
  display: none !important; }

.display-block {
  display: block; }

.display-flex {
  display: flex;
  flex-wrap: wrap; }

.fixed-top {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999; }

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

a.btn, .btn {
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #202020;
  border: 0;
  border-radius: 2px;
  outline: none;
  line-height: 1;
  padding: 14px 25px;
  position: relative;
  overflow: hidden; }
  a.btn span, .btn span {
    position: relative;
    z-index: 9; }
  a.btn:after, .btn:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0;
    left: 0;
    top: 0;
    background-color: #ff9916;
    transition: 0.5s all ease;
    transform: skew(60deg); }
  a.btn:hover:after, a.btn:focus:after, .btn:hover:after, .btn:focus:after {
    height: 100%; }
  a.btn.yellow-background, .btn.yellow-background {
    background-color: #ff9916; }
    a.btn.yellow-background:after, .btn.yellow-background:after {
      background-color: #202020; }

.button-holder .btn {
  margin-right: 10px; }
  .button-holder .btn:last-child {
    margin-right: 0; }

.color-gold {
  color: #a79359; }

.cursor-pointer {
  cursor: pointer; }

.page-wrapper {
  color: #838383; }
  .page-wrapper p {
    color: #838383; }

/*common classes*/
/*breadcrumb*/
.breadcrumb-div {
  margin-top: 100px;
  position: relative; }
  .breadcrumb-div.background-image {
    background-position: left !important; }
  .breadcrumb-div .container {
    min-height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center; }

.page-sub {
  font-size: 16px;
  line-height: 1.2;
  color: #ffffff;
  font-weight: 400;
  margin-top: 10px; }

.breadcrumb-ul {
  list-style: none;
  font-size: 16px; }
  .breadcrumb-ul li {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block; }
    .breadcrumb-ul li:after {
      content: '>';
      font-weight: 500;
      color: #ffffff;
      transform: scale(1, 1.3);
      position: absolute;
      right: -7px;
      top: 1px; }
    .breadcrumb-ul li:last-child:after {
      display: none; }
    .breadcrumb-ul li:first-child {
      padding-left: 0; }
    .breadcrumb-ul li:last-child {
      padding-right: 0; }
    .breadcrumb-ul li a {
      font-size: 16px;
      color: #ffffff;
      font-weight: 400; }
      .breadcrumb-ul li a:hover {
        text-decoration: underline; }
    .breadcrumb-ul li.current a {
      color: #ffffff;
      font-weight: 600;
      cursor: default; }
    .breadcrumb-ul li.current a:hover {
      text-decoration: none; }

/*breadcrumb*/
.height-0 {
  height: 0;
  overflow: hidden; }

/* Checkboxes
   ========================================================================== */
/* CUSTOM CSS CHECKBOXES */
form p {
  margin-bottom: 10px;
  text-align: left; }

form p:last-child {
  margin-bottom: 0; }

/* Remove default checkbox */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
  opacity: 0; }

[type="checkbox"] {
  /* checkbox aspect */ }

[type="checkbox"] + label {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  line-height: 29px;
  font-size: 14px;
  -webkit-user-select: none;
  /* webkit (safari, chrome) browsers */
  -moz-user-select: none;
  /* mozilla browsers */
  -khtml-user-select: none;
  /* webkit (konqueror) browsers */
  -ms-user-select: none;
  /* IE10+ */ }

[type="checkbox"] + label:before,
[type="checkbox"]:not(.filled-in) + label:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  z-index: 0;
  border: 1px solid #b1b8bb;
  border-radius: 1px;
  margin-top: 2px;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

[type="checkbox"]:not(.filled-in) + label:after {
  border: 0;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0); }

[type="checkbox"]:not(:checked):disabled + label:before {
  border: none;
  background-color: rgba(0, 0, 0, 0.26); }

[type="checkbox"].tabbed:focus + label:after {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  border: 0;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.1); }

[type="checkbox"]:checked + label:before {
  top: -4px;
  left: -5px;
  width: 12px;
  height: 22px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid #4e79bc;
  border-bottom: 2px solid #4e79bc;
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%; }

[type="checkbox"]:checked:disabled + label:before {
  border-right: 2px solid rgba(0, 0, 0, 0.26);
  border-bottom: 2px solid rgba(0, 0, 0, 0.26); }

/* Indeterminate checkbox */
[type="checkbox"]:indeterminate + label:before {
  top: -11px;
  left: -12px;
  width: 10px;
  height: 22px;
  border-top: none;
  border-left: none;
  border-right: 2px solid #4e79bc;
  border-bottom: none;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%; }

[type="checkbox"]:indeterminate:disabled + label:before {
  border-right: 2px solid rgba(0, 0, 0, 0.26);
  background-color: transparent; }

[type="checkbox"].filled-in + label:after {
  border-radius: 2px; }

[type="checkbox"].filled-in + label:before,
[type="checkbox"].filled-in + label:after {
  content: '';
  left: 0;
  position: absolute;
  /* .1s delay is for check animation */
  -webkit-transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
  -o-transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
  transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
  z-index: 1; }

[type="checkbox"].filled-in:not(:checked) + label:before {
  width: 0;
  height: 0;
  border: 3px solid transparent;
  left: 6px;
  top: 10px;
  -webkit-transform: rotateZ(37deg);
  -ms-transform: rotate(37deg);
  transform: rotateZ(37deg);
  -webkit-transform-origin: 20% 40%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%; }

[type="checkbox"].filled-in:not(:checked) + label:after {
  height: 28px;
  width: 28px;
  background-color: transparent;
  border: 1px solid #b1b8bb;
  top: 0px;
  z-index: 0; }

[type="checkbox"].filled-in:checked + label:before {
  top: 2px;
  left: 2px;
  width: 10px;
  height: 18px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotateZ(40deg);
  -ms-transform: rotate(40deg);
  transform: rotateZ(40deg);
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%; }

[type="checkbox"].filled-in:checked + label:after {
  top: 0;
  width: 28px;
  height: 28px;
  border: 2px solid #4e79bc;
  background-color: #4e79bc;
  z-index: 0; }

[type="checkbox"].filled-in.tabbed:focus + label:after {
  border-radius: 2px;
  border-color: #c8c8c8;
  background-color: rgba(0, 0, 0, 0.1); }

[type="checkbox"].filled-in.tabbed:checked:focus + label:after {
  border-radius: 2px;
  background-color: #4e79bc;
  border-color: #4e79bc; }

[type="checkbox"].filled-in:disabled:not(:checked) + label:before {
  background-color: transparent;
  border: 2px solid transparent; }

[type="checkbox"].filled-in:disabled:not(:checked) + label:after {
  border-color: transparent;
  background-color: #BDBDBD; }

[type="checkbox"].filled-in:disabled:checked + label:before {
  background-color: transparent; }

[type="checkbox"].filled-in:disabled:checked + label:after {
  background-color: #BDBDBD;
  border-color: #BDBDBD; }

/* The container */
.radio-container-div p {
  display: inline-block;
  margin-right: 15px; }

.radio-container {
  margin-right: 15px;
  display: inline-block;
  position: relative;
  padding-left: 40px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 30px;
  color: #202020;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* Hide the browser's default checkbox */
.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }

/* Create a custom checkbox */
.radio-mark {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #dedede; }

/* On mouse-over, add a grey background color
.radio-container:hover input ~ .checkmark {
    background-color: #ccc;
}*/
/* Create the checkmark/indicator (hidden when not checked) */
.radio-mark:after {
  content: "";
  position: absolute;
  display: none; }

/* Show the checkmark when checked */
.radio-container input:checked ~ .radio-mark:after {
  display: block; }

/* Style the checkmark/indicator */
.radio-container .radio-mark:after {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #4e79bc; }

.pointer {
  cursor: pointer; }

.overlayer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  z-index: 99;
  opacity: 0; }

.before-none:before {
  display: none; }

.after-none:after {
  display: none; }

.center-v-h {
  display: flex;
  justify-content: center;
  align-items: center; }

.font-18-regular {
  font-size: 18px;
  font-weight: 500; }

.line-height-1 {
  line-height: 1; }

/*responsiveness*/
@media (min-width: 768px) and (max-width: 1024px) {
  /*common classes*/
  .padding-top-bottom-100 {
    padding-top: 60px;
    padding-bottom: 60px; }

  .padding-top-100 {
    padding-top: 60px; }

  .padding-bottom-30 {
    padding-bottom: 20px; }

  .padding-top-50 {
    padding-top: 30px; }

  .padding-bottom-50 {
    padding-bottom: 30px; }

  .margin-bottom-50 {
    margin-bottom: 25px; }

  .margin-top-40 {
    margin-top: 20px; }

  .section-title {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 30px; }

  .section-sub-title {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 15px; }

  .card-box-area .section-title {
    margin-bottom: 15px;
    line-height: 24px; } }
@media (max-width: 767px) {
  /*common classes*/
  .padding-top-bottom-large {
    padding-top: 40px;
    padding-bottom: 40px; }

  .padding-top-large {
    padding-top: 40px; }

  .padding-bottom-large {
    padding-bottom: 40px; }

  .padding-bottom-30 {
    padding-bottom: 15px; }

  .padding-top-50 {
    padding-top: 30px; }

  .padding-bottom-50 {
    padding-bottom: 30px; }

  .padding-top-25 {
    padding-top: 15px; }

  .margin-bottom-30 {
    margin-bottom: 15px; }

  .margin-bottom-35 {
    margin-bottom: 18px !important; }

  .margin-bottom-25 {
    margin-bottom: 12px; }

  .margin-top-25 {
    margin-top: 15px; }

  .padding-top-40 {
    padding-top: 20px; }

  .margin-bottom-50 {
    margin-bottom: 25px; }

  .margin-top-40 {
    margin-top: 20px; }

  .section-title {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 20px; }

  .section-sub-title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 15px; }

  .btn.blue-background-button, a.btn.blue-background-button {
    line-height: 40px; } }
@media (max-width: 575px) {
  .page-title {
    font-size: 24px; } }
/*responsiveness*/
.dropdown-wrapper {
  position: relative; }
  .dropdown-wrapper:after {
    content: '';
    position: absolute;
    top: -50px;
    height: 36px;
    right: 0px;
    width: 100%; }

.custom-dropdown {
  visibility: hidden;
  opacity: 0;
  transition: 0.5s all linear;
  position: absolute;
  top: 54px;
  right: -25px;
  left: unset;
  width: 300px;
  padding: 15px;
  background-color: #ffffff;
  border: 1px solid #a79359;
  border-radius: 2px;
  transform: translateY(10px);
  z-index: 9; }
  .custom-dropdown:after, .custom-dropdown:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    transform: rotate(-90deg); }
  .custom-dropdown:after {
    top: -20px;
    border-color: transparent transparent transparent #fff;
    border-width: 10px;
    right: 36px; }
  .custom-dropdown:before {
    top: -23px;
    border-color: transparent transparent transparent #a79359;
    border-width: 11px;
    right: 35px; }

.dropdown-active {
  visibility: visible;
  opacity: 1;
  transform: translateY(0); }

.dropdown .dropdown-menu {
  visibility: hidden;
  display: block;
  opacity: 0;
  transform: translateY(10px);
  transition: 0.5s all linear; }

.dropdown.show .dropdown-menu,
.dropdown:hover .dropdown-menu {
  /* For Bootstrap 4, use .dropdown.show instead of .dropdown.open */
  visibility: visible;
  opacity: 1;
  transform: translateY(0); }

.form-group {
  margin-bottom: 18px; }

.form-control {
  border-color: #c3c3c3; }

input[type=text].form-control,
input[type=email].form-control,
input[type=password].form-control {
  height: 48px; }

.form-control-label {
  margin-bottom: 10px;
  line-height: 16px; }

textarea.form-control {
  resize: none;
  height: 142px; }

select.form-control {
  height: 44px !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../images/icons/select_chevron_down.png) no-repeat right 15px center #ffffff; }

header {
  position: relative; }

.nav {
  position: relative; }

.navbar {
  padding: 0 15px;
  min-height: 80px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.2); }
  .navbar .navbar-nav .nav-link {
    font-size: 12px;
    text-transform: uppercase;
    color: #202020;
    line-height: 1;
    padding: 10px 13.5px; }
    .navbar .navbar-nav .nav-link:hover {
      color: #a79359; }

.right-navbar {
  position: absolute;
  right: 15px;
  z-index: 999; }
  .right-navbar .nav li {
    position: relative; }
    .right-navbar .nav li .nav-link {
      padding: 0 13.5px; }
    .right-navbar .nav li:first-child .nav-link {
      padding-left: 0; }
    .right-navbar .nav li:last-child .nav-link {
      padding-right: 0; }
    .right-navbar .nav li:last-child:after {
      display: none; }
    .right-navbar .nav li:after {
      content: '';
      width: 1px;
      height: 30px;
      background-color: #c8c8c8;
      position: absolute;
      right: 0;
      top: 0; }

.search-dropdown input[type=text].form-control {
  height: 40px;
  border-color: #c8c8c8; }
.search-dropdown .input-group-addon {
  background-color: transparent;
  padding: 0 5px; }
  .search-dropdown .input-group-addon span {
    font-size: 30px; }
  .search-dropdown .input-group-addon.input-focused {
    background-color: #ff9916; }
    .search-dropdown .input-group-addon.input-focused span {
      color: #ffffff; }

.cart-holder {
  position: relative; }
  .cart-holder .cart-counter {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: -8px;
    right: -10px;
    background-color: #ff9916;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px; }

.cart-dropdown {
  width: 425px;
  top: 0px;
  right: 0px;
  border: 0;
  box-shadow: -2px 2px 10px -5px rgba(0, 0, 0, 0.17);
  z-index: 999;
  padding-left: 30px;
  padding-right: 55px;
  padding-bottom: 30px; }
  .cart-dropdown .nano {
    height: 300px; }
    .cart-dropdown .nano .nano-content {
      right: 0 !important; }
  .cart-dropdown:after, .cart-dropdown:before {
    display: none; }
  .cart-dropdown .cart-close {
    text-align: right; }
    .cart-dropdown .cart-close .mdi {
      cursor: pointer;
      width: 45px;
      height: 50px;
      background-color: #e84444;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: auto;
      margin-right: -55px;
      margin-top: -15px;
      font-size: 24px;
      color: #fff; }
      .cart-dropdown .cart-close .mdi:before {
        opacity: 0.8; }
    .cart-dropdown .cart-close:hover .mdi:before {
      opacity: 1; }
  .cart-dropdown .list-group-item {
    padding: 0 0 18px 0;
    border: 0;
    border-bottom: 1px solid #e3e3e3;
    margin-bottom: 18px; }
  .cart-dropdown .cart-item {
    position: relative; }
    .cart-dropdown .cart-item .product-thumb {
      max-width: 75px;
      float: left; }
    .cart-dropdown .cart-item .short-info {
      margin-left: 75px;
      padding: 0 15px; }
      .cart-dropdown .cart-item .short-info .product-name {
        font-weight: 400;
        font-size: 15px;
        line-height: 1.2;
        margin-bottom: 8px; }
      .cart-dropdown .cart-item .short-info .price {
        font-weight: 400;
        font-size: 14px;
        line-height: 1;
        color: #838383; }
    .cart-dropdown .cart-item .item-delete {
      cursor: pointer;
      font-weight: 400;
      font-size: 8px;
      background-color: #eeeeee;
      color: #838383;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      padding: 0;
      position: absolute;
      top: 0;
      right: 0; }
      .cart-dropdown .cart-item .item-delete:hover {
        transform: scale(1.1);
        color: #202020; }

.slider-area > .container {
  position: relative; }
  .slider-area > .container:after {
    content: url(../images/icons/shape_above_next_slider.png);
    position: absolute;
    right: 15px;
    top: 46.5%;
    z-index: 9; }
  .slider-area > .container .navigation {
    position: absolute;
    top: 50%;
    z-index: 9;
    right: 40px; }
.slider-area .prev {
  display: none; }
.slider-area .next {
  cursor: pointer; }
  .slider-area .next .text {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    margin-right: 5px; }
  .slider-area .next img {
    transition: 0.3s all linear; }
  .slider-area .next:hover img {
    transform: translateX(3px);
    transition: 0.3s all linear; }

.home-slider .owl-controls {
  position: absolute;
  left: 30px;
  width: 20px;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center; }
.home-slider .owl-dots {
  position: relative; }
  .home-slider .owl-dots:after, .home-slider .owl-dots:before {
    content: '';
    width: 1px;
    height: 230px;
    background-color: #202020;
    position: absolute;
    left: 50%; }
  .home-slider .owl-dots:after {
    top: -235px; }
  .home-slider .owl-dots:before {
    bottom: -235px; }
  .home-slider .owl-dots .owl-dot.active span {
    width: 25px;
    height: 25px;
    border-width: 2px;
    background-color: transparent; }
  .home-slider .owl-dots .owl-dot span {
    width: 12px;
    height: 12px;
    background-color: transparent;
    border: 1px solid #202020; }
  .home-slider .owl-dots .owl-dot:hover span {
    background-color: transparent;
    border-width: 2px; }

.category {
  margin-top: 30px; }

.category-single-wrapper {
  position: relative;
  margin-bottom: 30px;
  display: block; }
  .category-single-wrapper .image-holder {
    overflow: hidden; }
    .category-single-wrapper .image-holder img {
      transition: 0.5s all linear; }
  .category-single-wrapper-info {
    position: relative;
    text-transform: uppercase;
    padding: 15px; }
    .category-single-wrapper-info:after, .category-single-wrapper-info:before {
      content: '';
      position: absolute;
      width: 4px;
      height: 40px;
      background-color: #a79359;
      bottom: 0;
      transition: 0.5s all ease; }
    .category-single-wrapper-info:after {
      left: 0; }
    .category-single-wrapper-info:before {
      right: 0; }
    .category-single-wrapper-info .type {
      font-size: 13.5px;
      line-height: 1;
      margin-bottom: 15px; }
    .category-single-wrapper-info .link {
      color: #202020;
      font-size: 12px;
      line-height: 1;
      display: block; }
      .category-single-wrapper-info .link:after, .category-single-wrapper-info .link:before {
        content: '';
        position: absolute;
        background-color: #a79359;
        width: 40px;
        height: 4px;
        bottom: 0;
        transition: 0.5s all ease; }
      .category-single-wrapper-info .link:after {
        left: 0; }
      .category-single-wrapper-info .link:before {
        right: 0; }
  .category-single-wrapper:hover .image-holder img {
    transform: scale(1.1); }
  .category-single-wrapper:hover .category-single-wrapper-info:after {
    height: 100%; }
  .category-single-wrapper:hover .category-single-wrapper-info:before {
    height: 100%; }
  .category-single-wrapper:hover .category-single-wrapper-info .link:after {
    width: 50%; }
  .category-single-wrapper:hover .category-single-wrapper-info .link:before {
    width: 50%; }

.category-title {
  font-size: 28px;
  line-height: 1.2;
  font-weight: 500;
  margin-bottom: 15px; }

/*screen larger than mobile devices*/
@media (min-width: 1200px) {
  .navbar-brand {
    padding: 0;
    margin: 0; }

  .navbar-nav {
    margin-right: 145px; }
    .navbar-nav .nav-item:first-child .nav-link {
      padding-left: 0; }
    .navbar-nav .nav-item:last-child .nav-link {
      padding-right: 0; } }
/*screen larger than mobile devices*/
/*query for mobile devices*/
/*query for mobile devices*/
/*small devices*/
/*small devices*/

/*# sourceMappingURL=style.css.map */
